<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Information</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>For contacting me, please use one of the resources listed below:</h1>
    <ol type="1">
    <li><a href="mailto:jsommers1337@gmail.com">Send Email</a></li>
    <li><a href="tel:443-900-4496">443-900-4496</a></li>
</ol>
</div>
</body>
</html>