<!DOCTYPE html>
<html lang="en">
 <head>
 <title>{{ title }}</title>
 <link rel="icon" href="static/favicon.ico" type="image/x-icon">
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 </head>
<body>
<!--this div container is for centering everything-->
<div class="container">
    <h1>Welcome to The Secret Page of John Sommers' Site of Cool Stuff</h1>
        {% with messages = get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
             {{ message }}
          {% endfor %}
       {% endif %}
    {% endwith %}
    <table>
        <tr>
            <th><img src="static/jessie.jpg" height ="300" title="Jessie"></th>
            <th><img src="static/colby.jpg" height ="300" title="Colby"></th>
            <th><img src="static/tripper.jpg" height ="300" title="Tripper"></th>
        </tr>
        <tr>
            <td>Jessie</td>
            <td>Colby</td>
            <td>Tripper</td>
        </tr>
        <tr>
            <td>17 years</td>
            <td>1 year</td>
            <td>16 years</td>
        </tr>
        <tr>
            <td>10 lbs</td>
            <td>18 lbs</td>
            <td>17 lbs</td>
        </tr>
    </table>
</div>
</body>
</html>
